@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700");
root: {
  --c1d:13, 16, 21, 1; /*#0D1015*/
  --c1: 24, 29, 37, 1; /*#181D25*/
  --c2: 26, 32, 41, 1; /*#1A2029*/
  --c3d:35, 42, 51, 1; /*#2B333D*/
  --c3: 43, 51, 61, 1; /*#2B333D*/
  --c4: 84, 83, 120,1; /*#545378*/
  --c5: 127,116,181,1; /*#7F74B5*/ 
  --c6: 136,171,235,1; /*#88ABEB*/
  --c6l:196,213,245,1; /*#C4D5F5*/
}

.mabove:hover {
  background: #2B333D;
  color: #C4D5F5;
  border: solid 1px #C4D5F5; 
  filter: drop-shadow(0px 0px 16px #0D1015);
  padding: 18px 30px;
}
.mabove {
  /* box style :3 */
  font-family: "Open Sans", sans-serif; 
  font-style: italic;
  color: #88ABEB;  
  display: flex;
  align-items: center;
  line-height: 1.25em; 
  background: #232A33; 
  border: solid 1px #88ABEB; 
  /* centering, mostly */
  padding: 15px 30px; 
  height: 45%;
  width: 40%;
  max-width: 600px;
  margin: auto;
  position: relative;
  top: 100; left: 0; bottom: 0; right: 0;
  /* cool filters but nobody cares */
  filter: drop-shadow(0px 0px 8px #0D1015);
  transition: 0.3s;
    /* push up animation start */
  animation-name: cwebs;
  animation-duration: 1.7s;
  animation-timing-function: cubic-bezier(.02,.62,.39,.97);
}
@keyframes cwebs {
  0%  {opacity: 0; top:200px;}
  14% {opacity: 0; top:200px;}
  100%{opacity: 1; top:0px;}
    /* push up animation end */
}

.main:hover {
  background: #2B333D;
  filter: drop-shadow(0px 0px 18px #0D1015);
  border: solid 1px #C4D5F5;
  color: #ffffff;
  padding: 34px 30px;
}
.main {  
  display: flex;
  align-items: center;
  line-height: 1.25em; 
  background: #232A33; 
  border: solid 1px #88ABEB; 
  padding: 30px 30px; 
  height: 25%;
  width: 40%;
  max-width: 600px;
  margin: auto;
  position: relative;
  top: 0; left: 0; bottom: 0; right: 0;
  transform: translateY(10px);
  /* cool filters but nobody cares */
  filter: drop-shadow(0px 0px 8px #0D1015);
  backdrop-filter: blur(10px);
  transition: 0.3s;
  
  /* push up animation start */
  animation-name: mainp;
  animation-duration: 1.5s;
  animation-timing-function: cubic-bezier(.02,.62,.39,.97);}
@keyframes mainp {
  0%  {opacity:0; top:200px;}
  7%  {opacity:0; top:200px;}
  100%{opacity:1; top:0px;}
    /* push up animation end */
}

.munder:hover {
  background: #2B333D;
  filter: drop-shadow(0px 0px 16px #0D1015);
  border: solid 1px #C4D5F5;
  padding: 34px 30px;
}
.munder {
  position: flex;
  display: flex;
  align-items: center;
  line-height: 1.25em; 
  font-size: 18px;
  background: #232A33; 
  border: solid 1px #88ABEB; 
  font-family: "Open Sans", sans-serif;
  font-style: italic;
  padding: 30px 30px; 
  height: 25%;
  width: 40%;
  max-width: 600px;
  margin: auto;
  position: relative;
  top: 0; left: 0; bottom: 0; right: 0;
  transform: translateY(20px);
  /* cool filters but nobody cares */
  filter: drop-shadow(0px 0px 8px #0D1015);
  backdrop-filter: blur(10px);
  transition: 0.3s;
  
  /* push up animation start */
  animation-name: munder;
  animation-duration: 1.3s;
  animation-timing-function: cubic-bezier(.02,.62,.39,.97);
}
@keyframes munder {
  0%  {opacity: 0; top: 200px;}
  100%{opacity: 1; top: 0px;}
    /* push up animation end */
  }

/* link hover shenanigans */
a {
  transition: 0.16s;
  text-decoration: none;
}
/* unvisited link */
a:link {color: #88ABEB;}
/* visited link */
a:visited {color: #88ABEB;}
/* mouse over link */
a:hover {
  color: white;
  text-decoration: underline solid Currentcolor;
}
/* selected link */
a:active {color: white;}

main {margin: auto;}
html {
  background: #181D25;
  transform: translateY(30%);
}
.text {
  font-size: 24px;
  align-items: center;
  padding: 30px 12px;
  font-family: "Open Sans", sans-serif;
}

.nava {
  text-align: center;
  width: 33.3%;
}
.navb {
  text-align: center;
  width: 33.3%;
}
.navc {
  text-align: center;
  width: 33.3%;
}
